<div class="container mx-auto max-w-lg border border-gray-200 p-4 mt-4 rounded">
  <div>
    <h2 class="text-2xl mb-4"><%= @project.name %></h2>
  </div>
  <div data-controller="comments">
    <h3 class="text-xl mb-2">Comments</h3>
    <div data-comments-target="commentList" class="mb-4">
      <% @project.comments.order(created_at: :desc).each do |comment| %>
        <%= render partial: "comments/show", locals: { comment: comment } %>
      <% end %>
    </div>
    <div>
      <%= render partial: "comments/form" %>
    </div>
  </div>
</div>
