<div id="notice"><%= notice %></div>

<div>
  <strong>Name:</strong>
  <%= @project.name %>
</div>
<div class="comments" data-controller="comments">
  <h2>Comments</h2>
  <div data-target="comments.commentList">
    <% @project.comments.order(created_at: :desc).each do |comment| %>
      <%= render partial: "comments/show", locals: { comment: comment } %>
    <% end %>
  </div>
  <div class="comment-form">
    <%= render partial: "comments/form" %>
  </div>
</div>
